@page
@model Webshop.UI.Pages.Admin.OrdersModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul style="list-style-type:none">
                <li><label style="font-size:25px;">Admin Menu</label></li>
                <li><a asp-page="/Admin/Index" style="font-size:20px;">Products</a></li>
                <li><a asp-page="/Admin/Stock" style="font-size:20px;">Stock</a></li>
                <li><a asp-page="/Admin/Orders" style="font-size:20px;">Orders</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h2>Orders</h2>
            <div style="overflow: scroll; height: 600px; width:900px; overflow-x:hidden">
                <table style="width:100%">
                    @foreach (var order in Model.Orders)
                    {
                        <tr style="border-bottom: 1px solid #000;">
                            <td style="min-width:80px">
                                <label style="font-weight:bold">OrderId</label>
                                <p>@order.Id</p>
                            </td>
                            <td style="min-width:80px">
                                <label style="font-weight:bold">City</label>
                                <p>@order.City</p>
                            </td>
                            <td style="min-width:80px">
                                <label style="font-weight:bold">Postcode</label>
                                <p>@order.Postcode</p>
                            </td>
                            <td>
                                <label style="font-weight:bold">Email</label>
                                <p>@order.Adress</p>
                            </td>
                        </tr>
                        <tr style="border-bottom: 2px solid #000;">

                            @foreach (var cartItem in order.products)
                            {
                                <td style="border-right: 1px solid #000;">
                                    <label style="font-weight:bold">Product</label>
                                    <p>@cartItem.Name</p>
                                    <label style="font-weight:bold">Value</label>
                                    <p>@cartItem.Value</p>
                                    <label style="font-weight:bold">Quantity</label>
                                    <p>@cartItem.Quantity</p>
                                    <label style="font-weight:bold">StockId</label>
                                    <p>@cartItem.StockId</p>
                                </td>
                            }

                        </tr>

                    }
                </table>
            </div>
        </div>
    </div>
</div>